<!-- ***** Product Area Starts ***** -->
<section class="section" id="product" *ngIf="product">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="left-images">
          <img [src]="product.URL" alt="" />
        </div>
      </div>
      <div class="col-lg-4">
        <div class="right-content">
          <h4>{{ product.name }}</h4>
          <span class="price">{{ product.price }}</span>

          <span>{{ product.category }}</span>
          <div class="quote">
            <p>{{ product.description }}</p>
          </div>
          <div class="quantity-content">
            <div class="left-content">
              <h6>No. of Orders</h6>
            </div>
            <div class="right-content">
              <div class="quantity buttons_added">
                <button
                  type="button"
                  class="minus"
                  (click)="handleQuantity('min')"
                >
                  -
                </button>
                <input
                  type="text"
                  min="1"
                  value="{{ productQuantity }}"
                  class="input-text qty text"
                  size="4"
                />
                <button
                  type="button"
                  class="plus"
                  (click)="handleQuantity('plus')"
                >
                  +
                </button>
              </div>
            </div>
          </div>
          <div class="total">
            <!-- <h4>Total: $210.00</h4> -->
            <div class="main-border-button">
              <a (click)="addToCartProduct()" *ngIf="!showRemove"
                >Add To Cart</a
              >
            </div>

            <!-- *ngIf="showRemove" -->
            <div style="text-align: right">
              <a (click)="onRemoveFromCart(product.id)" *ngIf="showRemove"
                ><i class="fa fa-trash-can"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Product Area Ends ***** -->
