

<div class="d-flex product-item">
  <div>{{ productItem.category }}</div>
  <div>{{ productItem.name }}</div>
  <div><img [src]="productItem.URL" alt="" /></div>
  <div>
    <div class="color-box" [ngStyle]="{ backgroundColor: getColor() }"></div>
  </div>
  <div>{{ productItem.description }}</div>

  <div class="d-flex">
    <button class="btn btn-danger m-1" type="button" (click)="onDeleteProduct()">
      <i class="fas fa-trash"></i>
    </button>
    <button class="btn btn-success m-1" type="button" (click)="onUpdateProduct()">
      <i class="fas fa-pen"></i>
    </button>
  </div>
</div>
