/* You can add global styles to this file, and also import other style files */
.mainbtn button {
  background-color: #a85fac !important;
  border: 1px solid #79247e !important;
  margin: 0 !important;
  margin-top: 20px !important;

}
.formHeader h5{
 color: #a85fac !important;
}
/* .productCenter{
  display: flex;
  flex-direction: column;
  align-items: center;
} */



.productCenter input,textarea{
  margin-top: 20px;
}

.product p{
 font-size: 16px;
 color: #008f0e;
}

.product-item{
  /* width:20% !important; */
}